<div class="list row">
    <div class="col-md-6">
        <h4>Person List</h4>
        <ul class="list-group">
            <li class="list-group-item" *ngFor="let person of persons; let i = index" [class.active]="i == currentIndex"
                (click)="setActivePerson(person, i)">
                <strong>Nome:</strong>
                {{ person.nome }}
                <strong style="margin-left: 20px;">CPF:</strong>
                {{ person.cpf}}
            </li>
        </ul>
        <!-- <div class="row" class="list-group-item" *ngFor="let person of persons; let i = index"
            [class.active]="i == currentIndex" (click)="setActivePerson(person, i)">
            <div class="col-md-9">
                <label><strong>Nome:</strong></label>
                {{ person.nome }}
            </div>
            <div class="col-md-9">
                <label><strong>CPF:</strong></label>
                {{ person.cpf }}
            </div>
        </div> -->

        <!-- <button class="m-3 btn btn-sm btn-danger" (click)="removeAllTutorials()">
            Remove All
        </button> -->
    </div>
    <div class="col-md-6">
        <div *ngIf="currentPerson">

            <h4>Person</h4>
            <div>
                <label><strong>Nome:</strong></label>
                {{ currentPerson.nome }}
            </div>
            <div>
                <label><strong>Sexo:</strong></label>
                {{ currentPerson.sexo }}
            </div>
            <div>
                <label><strong>E-mail:</strong></label>
                {{ currentPerson.email }}
            </div>
            <div>
                <label><strong>Data de Nascimento:</strong></label>
                {{ currentPerson.dataNascimento }}
            </div>
            <div>
                <label><strong>Naturalidade:</strong></label>
                {{ currentPerson.naturalidade }}
            </div>
            <div>
                <label><strong>Nacionalidade:</strong></label>
                {{ currentPerson.nacionalidade }}
            </div>
            <div>
                <label><strong>CPF:</strong></label>
                {{ currentPerson.cpf     }}
            </div>

            <button class="btn btn-info" type="button" style="float: right; width: 100px;"
                routerLink="/person/{{ currentPerson.id }}">
                Edit
            </button>
        </div>

        <div *ngIf="!currentPerson">
            <br />
            <p>Please click on a Person...</p>
        </div>
    </div>
</div>
